.advent-container {
    display: flex;
    padding: 4rem;
}

.anchor {
    background-color: #f7961c !important;
    padding: 0.7rem;
    border-radius: 6px;
}

footer {
    background-color: #5d3d90 !important;
}

.txts {
    color: #fff;
    text-align: center;
    font-size: 30px;
    height: 20vh;
    padding: 1rem;
}

.bttn {
    background-color: #fff;
    color: black;
}

.bttn:hover {
    background-color: #f7961c;
    transition: all 0.5s ease;
}

.bttn-wrp {
    padding-bottom: 2rem;
    margin-left: 4rem;
}

@media screen and (max-width: 560px) {
    .advent-container {
        display: flex;
        flex-direction: column;

    }

    .text-wrp {
        margin-top: 2rem;
    }
}