.advent-section {
    display: flex;
    justify-content: center;
}

.advent-container {
    display: flex;
    padding: 3rem;
    margin-left: 3rem;
}

.anchor {
    background-color: #f7961c !important;
    padding: 0.7rem;
    border-radius: 6px;
}

footer {
    background-color: #5d3d90 !important;
    display: flex;
    justify-content: center;
}

.txts {
    color: #fff;
    text-align: center;
    font-size: 25px;
    height: 8vh;
    padding: 1rem;
}

.text-wrp {
    margin-left: 1rem;
}

.btn {
    background-color: #fff;
    color: black;
}

.bttn:hover {
    background-color: #f7961c;
    transition: all 0.5s ease;
}

.btn-wrp {
    padding-bottom: 2rem;
    margin-left: 4rem;
}

.web-link {
    font-size: 25px;
    text-align: center;
}

.web-link a {
    color: #ffff;
}

.web-link a:hover {
    color: #5f5fef;
}

.num-wrp {
    color: #fff;
    text-align: center;
    margin-top: 1rem;
}

@media screen and (max-width:768px) {
    .advent-container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:768px) {
    .advent-container {
        display: flex;
        flex-direction: column;
    }

    .num-wrp {
        color: #fff;
        text-align: center;
        padding: 0.6rem;
    }

    .txts {
        font-size: 19px;
        height: 10vh;
        padding: 1rem;
    }
}



@media screen and (max-width: 590px) {
    .advent-container {
        display: flex;
        flex-direction: column;

    }

    .img-trip img {
        max-width: 100%;
    }

    .text-wrp {
        margin-top: 2rem;
    }

    .advent-container {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        margin-left: 0;
    }
}