.contact-wrapper{
background-color: #efeded;
border-radius: 5px;
}

.info-container{
    display: flex;
    background-color: #ffff;
    padding: 0.6rem;
    border-radius: 24px;
}

.contact-container{
    padding: 3rem; 
}

.contact-info{
    background-color: #4b4bea;
    height: 80vh;
    border-radius: 18px;
    padding: 2rem;
    width: 64%;
}

.contact-info h1{
    color: #fff;
    font-size: 27px;
    padding-left: 1rem;
}

.contact-info p {
    color: #bcb3b3;
    font-size: 15px;
    padding-left: 1rem;
}

.contact-info h3 {
    padding-bottom: 2rem;
    color: #d6d3d3;
    font-size: 15px;
    padding-top: 2rem;
    padding-left: 1rem;
}

.form-wrap{
    padding: 2rem;
}

.number{
    color: #fff;
}


.form .button{
    background-color: #4b4bea;
    display: block;
    margin-left: 1rem;
    margin-top: 1rem;
}

.btn-wrap{
    display: flex;
    justify-content: end;
}

.input{
  margin-left: 0.8rem;
  margin-top: 1rem;
  background: #fff;
  color: #000000;
}

.text-area{
    margin-left: 0.8rem;
    margin-top: 1rem;
}

.icon-logo{
    padding-top: 4rem;
}
.icon-logo a {
    padding: 0.5rem;
}

.icon-logo a:hover{
    color: yellow;
}

@media screen and (max-width: 990px) {
    .contact-container{
        display: flex;
        flex-direction: column;
    }
    .contact-info{
        background-color: #4b4bea;
        height: 59vh;
        border-radius: 5px;
        padding: 1rem;
        width: 58%;
    }
  }