.conatiner {
    background-image: url(https://kashmirtravelagent.com/images/banner1.jpg);
    height: 60vh;
    display: flex;
}

.title-heading .txt {
    font-size: 56px !important;
    letter-spacing: 0px;
    /* font-weight: 700; */
    text-transform: capitalize;
    line-height: 58px;
    max-width: 66%;
    margin-left: 2rem;
}

.txt-primary {
    color: #f7961c !important;
}

.form-conatiner {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 2rem;
    margin-right: 2rem;
}

.form-conatiner input {
    position: relative;
    top: 8px;
    left: 16px;
    margin: 1rem;
    font-size: 15px;
    padding: 0.6rem;
    width: 83%;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
}

.btn {
    position: relative;
    top: 8px;
    left: 16px;
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 83%;
    background-color: #f7961c;
}

.msg {
    display: block;
    margin-left: 3rem;
}

.info-wrapper {
    background: linear-gradient(45deg, #f5d105, #28a74500);
}

.containers {
    display: flex;
    flex-direction: row;
    padding: 1rem;

}

.txt-style {
    margin: 1rem;
}