footer {
  background-color: #8c63cf;
  height: 17vh;

}

.footer-package {
  color: #000000;
  text-align: center;
  font-size: 25px;
  height: 8vh;
  padding: 1rem;
}

.number-wrap{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.number-wrap a {
  padding: 1rem;
}

.number-wrapper {
  background-color: red;
}

.link-container {
  color: #fff;
}

.web-link {
  font-size: 13px;
  text-align: center;

}

.web-link a {
  color: #fff;
  font-size: 13px;
}

.policy{
  padding-left: 3rem;
}

.web-link a:hover {
  color: #8080f1;
}

ul li {
  list-style: none;
}

ul li a:hover{
color: #2e2edb;
}

.number-wrap a:hover{
  color: #2e2edb;
}