footer {
  background-color: #8c63cf;
  height: 17vh;

}

.footer-package {
  color: #000000;
  text-align: center;
  font-size: 25px;
  height: 8vh;
  padding: 1rem;
}

.number-wrap {
  padding: 1rem;
  text-align: end;
}

.number-wrapper {
  background-color: red;
}

.link-container {
  color: #fff;
}

.web-link {
  font-size: 13px;
  text-align: center;

}

.web-link a {
  color: #fff;
  font-size: 13px;
}

.web-link a:hover {
  color: #8080f1;
}